* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
.nav-icons {
  width: auto;
}
/* li {
  display: grid;
 
  gap: 1rem;
} */
li a {
  display: block;
  transition: color 0.3s ease-in-out;
  width: 7rem;
}
/*  */
.admin-img {
  margin-top: 3rem;
}
.admin-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.admin-info-con p {
  text-align: center;
  color: blue;
}
.nav-links:hover,
.nav-icons:hover {
  background-color: blue;
  color: white;
}
.nav-links {
  width: 10rem;
  height: 2rem;
  display: grid;
  place-content: center;
}
.whole-page {
  display: grid;
  grid-template-columns: auto 1fr;
}
.link {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
li a:hover {
  color: white;
}
.nav-header {
  width: 20vw;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 100%;
  display: grid;
  justify-content: center;
}

.admin-form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
}
.adminform-side {
  margin-top: 3rem;
  display: grid;
  width: 40rem;
}
.adminFromE {
  width: 30rem;
  margin-top: 2rem;
  margin-bottom: 1rem;

  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.Adminform-cards {
  display: grid;
  grid-template-rows: auto 1fr;
}
.Adminform-cards input {
  padding: 4px;
  border: 2px solid black;
  width: 95%;
  border: 2px solid black;
  border-radius: 5px;
}
